@import url(../../pages/App/App.css);

.button-contact {
  height: 3.6rem;
  min-width: 14rem;
  max-width: 42rem;
  display: flex;
  align-items: center;
  background: rgba(147, 170, 194, 0.4);
  border-radius: 0.4rem;
  transition: all 0.5s;
}

.buttcon-contact--text {
  color: var(--cyan);
  transition: all 0.5s;
}

.button-contact:hover {
  background: var(--cyan);
  transition: all 0.3s;
}

.button-contact:hover .buttcon-contact--text {
  color: var(--dark-blue);
  transition: all 0.3s;
}
