@import url("../../pages/App/App.css");

.contact-modal-container {
  z-index: 3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - calc(var(--space-s) * 2));
  max-width: 128rem;
  height: calc(100% - calc(var(--space-s) * 2));
  padding: 7rem 0;
  display: flex;
  justify-content: flex-end;
  backdrop-filter: blur(10px);
}

.contact-modal {
  width: 100%;
  max-width: 56rem;
  max-height: 42rem;
  padding: var(--space-l);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--space-m);
  background-color: var(--dark-blue-tr);
  border: 0.1rem solid rgba(147, 170, 194, 0.4);
  border-radius: var(--space-m);
}

.contact-modal__title {
  font-family: "Audiowide";
  font-weight: 400;
  font-style: normal;
  color: var(--white);
}

.contact-modal__email {
  color: var(--cyan);
}

.button-email-container {
  position: relative;
  width: 100%;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid rgba(147, 170, 194, 0.4);
  border-radius: var(--space-s);
  overflow: hidden;
  transition: border 0.5s;
}

.button-email-container:hover {
  border: 0.1rem solid var(--cyan);
  transition: border 0.3s;
}

.button-email-container:hover .button-email__button {
  color: var(--white);
  transition: color 0.3s;
}

.button-email__button {
  width: 100%;
  height: 100%;
  color: var(--cyan);
  letter-spacing: 0.2rem;
  border-radius: var(--space-s);
  transition: color 0.3s;
}
