@import url(../App/App.css);

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--space-xl);
}
.projects-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: var(--space-xl);
}

.projects__division {
  width: 100%;
  height: 0.1rem;
  margin: var(--space-xl) 0;
  background: var(--white-border);
  border-radius: var(--space-s);
}
