.navbar__link {
  width: auto;
  height: 100%;
  padding: 0 var(--space-m);
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  cursor: pointer;
}

.navbar__link:hover .navbar__link--decoration {
  background-color: var(--cyan);
  transition: background-color 0.6s;
}

.navbar__link .span-active {
  background-color: var(--cyan);
  transition: background-color 0.6s;
}

.navbar__link .text-active {
  color: var(--cyan);
  transition: background-color 0.6s;
}

.navbar__link--decoration {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--soft-blue);
}

.navbar__link--text {
  font-family: "Audiowide";
  font-weight: 400;
  font-style: normal;
}

.navbar__link--text .active {
  color: var(--cyan);
  transition: background-color 0.6s;
}
